singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${projectDir}/containers"
}

process {
    executor = 'local'
    errorStrategy = 'retry'
    maxRetries = 1
}

params {
    reads = null
    reference = null
    sample = "sample1"
    outdir = "${launchDir}/results"
    
    sif_minimap2 = "${projectDir}/containers/minimap2.sif"
    sif_samtools = "${projectDir}/containers/minimap2.sif"
    sif_clair3 = "${projectDir}/containers/clair3.sif"
    
    model_path = "/opt/models/hifi"
}

profiles {
    standard {
        process.container = "${projectDir}/containers/minimap2.sif"
    }
    
    test {
        params.reads = "${projectDir}/data/HUCR38.fastq"
        params.reference = "${projectDir}/data/reference.fa"
    }
}
